.header-up {
	background-color: burlywood;
	height: 40px;
	border-bottom: 2px solid cornsilk;
}

.menu-title {
    min-height: 530px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-title p {
    font-size: 50px;
    color: #5e2f0d;
}

.registr-box {
	width: 960px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.registr-box .language {
	margin: auto 0;
}

.registr-box .language button {
	background-color: cornsilk;
	border: 0;
	color: brown;
	font-size: 15x;
	cursor: pointer;
}

.registr-box ul {
	display: flex;
	justify-content: center;
	margin: auto 0;
}

.registr-box ul li a {
	text-decoration: none;
	color: cornsilk;
	margin-right: 20px;
}

.registr-box ul li p {
	color: cornsilk;
	margin-right: 20px;
	cursor: pointer;
	opacity: 3;
}

.header-down {
	height: 100px;
	background-color: burlywood;
	border-bottom: 2px solid cornsilk;
}

.header-down-box {
	width: 960px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.logo-box {
	height: 100px;
	width: 260px;
}

.logo-box img {
	width: 100%;
	height: 100%;
}

.menu {
	margin: auto 0;
}

.menu ul {
	display: flex;
	justify-content: center;
	margin: auto 10px;
}

.menu ul li a {
	text-decoration: none;
	color: cornsilk;
	font-size: 25px;
	margin-right: 60px;
}

.menu ul li a:hover {
	border-bottom: 2px solid cornsilk;
}

main {
	min-height: 530px;
	height: 100%;
	width: 100%;
	background-color: burlywood;
	border-bottom: 2px solid cornsilk;
}

.main2 {
	min-height: 530px;
	height: 100%;
	width: 100%;
	background-color: burlywood;
	border-bottom: 2px solid cornsilk;
}

.login-wrapper {
	padding-top: 50px;
}

.enter-account {
	width: 250px;
	height: 300px;
	background-color: burlywood;
	border: 3px solid rgb(88, 70, 46);
	border-radius: 5%;
	margin: 0 auto;
}

.enter-account input {
	width: 80%;
	height: 30px;
	margin-top: 40px;
	background-color: cornsilk;
	border: 0;
	outline: none;
}

.enter-account input:focus {
	border: 2px solid rgb(88, 70, 46);
	border-radius: 10px;
}

.enter-account button {
	margin-top: 30px;
	width: 100px;
	height: 30px;
	background-color: cornsilk;
	border: 0;
	outline: none;
	border-radius: 20px;
	color: rgb(88, 70, 46);
	cursor: pointer;
}

footer {
	background-color: burlywood;
	height: 70px;
	position: relative;
}

.footer-box {
	width: 960px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.time-work {
	width: 30%;
	border-right: 2px solid cornsilk;
	display: flex;
}

.time-work p {
	margin: auto;
	color: cornsilk;
	font-size: 20px;
}

.our-contacts {
	width: 30%;
	border-right: 2px solid cornsilk;
	display: flex;
}

.our-contacts p {
	margin: auto;
	color: cornsilk;
	font-size: 20px;
}

.how-to-pay {
	width: 30%;
	display: flex;
}

.how-to-pay p {
	margin: auto;
	color: cornsilk;
	font-size: 20px;
}

.social-logo {
	width: 30px;
	height: 30px;
	margin: auto 0;
}

.social-logo img {
	height: 100%;
	width: 100%;
}

.main-form {
	height: 500px;
	background-color: burlywood;
	padding-top: 20px;
	border-bottom: 2px solid cornsilk;
}

.form-wrapper {
	width: 250px;
	height: 470px;
	margin: 0 auto;
	border: 3px solid rgb(88, 70, 46);
	border-radius: 5%;
}

form {
	text-align: center;
	position: relative;
}

.registr-form p {
	margin-top: 20px;
	color: red;
}

.registr-form  input {
	margin-top: 20px;
	height: 20px;
	background-color: cornsilk;
	border: 0;
}

.button {
	margin-top: 20px;
}

.button input {
	background-color: cornsilk;
	border: 0;
	height: 40px;
	font-size: medium;
}

.contant-wrapper {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.box {
    width: 22%;
    border: 1px solid gray;
    margin: 10px;
}
.box-img {
    width: 100%;
    height: 40%;
}
.box-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.box-text {
    text-align: center;
    margin-top: 10px;
}
.name {
    font-size: 20px;
}
.item-opis {
    color: rgb(94, 93, 93);
    height: 100px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}
.price {
    font-size: 25px;
    color: brown;
}
.box-button {
    margin-top: 20px;
    margin-bottom: -40px;
}
.order-list {
    width: 960px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.order-list-title {
    text-align: center;
    padding-top: 20px;
}
.order-list-title p {
    text-align: center;
    padding-top: 20px;
    color: #5e2f0d;
    font-size: 30px;
}
.box-wrap {
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    margin-top: 20px;
    height: 40px;
}
.name-box {
    width: 50%;
    font-weight: bold;
}
.name-box p {
    font-size: 20px;
    color: #5e2f0d;
}
.price-box {
    width: 50%;
    font-weight: bold;
}
.price-box p {
    font-size: 20px;
    color: #5e2f0d;
}
.order-list-box {
    margin-top: 10px;
    display: flex;
}
.name-food {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.name-food p{
	color: #5e2f0d;
}

.price-food {
    width: 35%;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.price-food p{
	color: #5e2f0d;
}

.delete-button .button {
    background-color: chocolate;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
.arrange-order {
    text-align: center;
    margin-top: 20px;
}
.arrange-order-button {
    background-color: chocolate;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.link-info-wrapper {
    width: 960px;
    margin: 0 auto;
    min-height: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-info-box {
    display: flex;
    flex-direction: column;
}
.link-info-box a {
    border: 1px solid black;
    padding: 20px;
    margin: 20px 0;
    text-align:center; 
    text-decoration: none;
    color: white;
    border-radius: 5px;
}
.link-info-box a:hover {
    background-color: white;
    color: black;
    transition: 2s;
}
.copyright-text {
	width: 101px;
    position: absolute;
    top: 25px;
    right: 0;
}

.myData-title {
    padding-top: 20px;
    text-align: center;
    color: #5e2f0d;
    font-size: 30px;
}

.myData-wrapper {
    padding-top: 30px;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box-name {
    padding-bottom: 20px;
    text-align: center;
    color: #5e2f0d;
    font-size: 20px;
    font-weight: bold;
}

.box-content {
    text-align: center;
    color: #5e2f0d;
    font-size: 20px;
}

.change-data {
    text-align: center;
    margin-top: 30px;
}
.change-data-button {
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: chocolate;
    color: white;
    cursor: pointer;
}

.update-data-wrap {
    width: 960px;
    margin: 0 auto;
    padding: 40px;
}

.update-data-container {
    display: flex;
    margin: 0 auto;
    width: 500px;   
    padding-top: 20px;
}

.left-contant {
    width: 50%;
    text-align: center;
}
.left-contant p {
    color: #5e2f0d;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right-contant {
    width: 50%;
}

.right-contant input {
    border: none;
    font-size: 15px;
    outline: none;
    border-radius: 3px;
    color: #5e2f0d;
    height: 20px;
}

.update-button {
    margin-top: 30px;
    text-align: center;
}

.update-button button {
    font-size: 15px;
    padding: 10px 15px;
    background-color: #5e2f0d;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.map{
	width: 500px;
	margin:0 auto;
	padding-top: 10px;
}

.contact-info{
	margin-top: 20px;
	text-align: center;
}

.contact-title{
	font-size: 20px;
    color: #5e2f0d;
}

.contact-description{
	font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    color: #5e2f0d;
}

.about_us{
	padding-top: 20px;
	text-align: center;
}

.about_us-title{
	font-size: 20px;
    font-weight: bold;
    margin: 20px 0;
    color: #5e2f0d;
}

.about_us-description{
	font-size: 20px;
    color: #5e2f0d;
}

.user_order-title {
    text-align: center;
    padding-top: 20px;
    color: #5e2f0d;
    font-size: 30px;
}

.user_order-name-wrap {
	padding-top: 30px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
}

.user_order-name-wrap div {
    width: 190px;
    text-align: center;
    color: #5e2f0d;
    font-size: 20px;
    font-weight: bold;
}

.user_order-contant-wrap {
    max-width: 1200px;
    margin: 20px auto;
    justify-content: space-between;
    display: flex;
}

.user_order-contant-wrap div {
    width: 190px;
    text-align: center;
    color: #5e2f0d;
    font-size: 20px;
}

.user_order-button {
    padding: 10px;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    background-color: chocolate;
    color: white;
    cursor: pointer;
}
.